---
import Posts from "@/components/Posts.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base title="Blogs">
  <section class="section">
    <div class="container">
      <div class="text-center mb-12">
        <h1 class="text-4xl font-bold mb-4">Blogs</h1>
        <p class="text-lg text-gray-600">My latest photography excursions, stories, and thoughts.</p>
      </div>
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination section="blogs" currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>